// https://coolors.co/eeeeee-067bc2-1e2019-c63940-dddddd

// Color scheme
$lm-base: hsl(0, 0%, 93%);
$lm-accent: hsl(203, 94%, 39%);
$lm-text-pri: hsl(77, 12%, 11%);
$lm-text-sec: hsl(79, 12%, 27%);
$lm-text-acc: hsl(357, 55%, 50%);

$nav-hover: hsl(203,94%,100%);
$nav-background: hsl(203, 94%, 39%);
$nav-text: hsl(300, 00%, 90%);

$dm-nav-hover: hsl(203,94%,67%);
$dm-nav-background: hsl(77, 12%, 11%);
$dm-nav-text: hsl(77, 1%, 75%);

$dm-base: hsl(77, 12%, 11%);
$dm-accent: hsl(203, 94%, 39%);
$dm-text-pri: hsl(0, 0%, 93%);
$dm-text-sec: hsl(0, 0%, 85%);

// Font variables
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
$fs-header: 2.8em;
$fs-sub-header: 2em;
$fs-main: 1.8em;
$fs-sub: 1.4em;
$fs-note: 1.0em;
$fs-nav-link: 2.0em;

// Extensions


// Utility classes
.flexbox {
  display: flex;
}

.inline-flexbox {
  display: inline-flex;
}

.grid {
  display: grid;
}


// Main CSS
* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-size: 62.5%;
  background: $lm-base;

  @media (prefers-color-scheme: dark) {
    background: $dm-base;
  }
}

#openNavButton {
  position: fixed;
  line-height: 0;
  font-size: 2.2rem;
  margin-left: 8px;
  margin-top: 8px;
  border: 1px solid grey;
  border-radius: 3px;
  width: 35px;
  height: 35px
}

#openNavButton:hover {
  background-color: $nav-hover;
  cursor: pointer;
  color: $lm-base;
}


// TODO: add in the collapsed side navbar
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: $nav-background;
  overflow-x: hidden;
  padding-top: 60px;
  transition: .5s;

  ul {
    margin: 0;
    padding: 0;
    width: 250px;
  }

  li {
    text-align: center;
    list-style-type: none;
  }

  a {
    padding: 16px 8px;
    margin: 0px 32px;
    text-decoration: none;
    font-size: $fs-nav-link;
    color: $nav-text;
    display: block;
    transition: .3s;
  }

  a:hover {
    background-color: $nav-hover;
    color: $nav-background;
    transition: .3s
  }

  .closeNavButton {
    padding: 0;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 1.8em;
    margin-left: 50px;

    a {
      padding: 0;
      border: none;
      margin: 0;
    }

  }
}

#main {
  transition: margin-left .5s;
}

.content-container {
  height: 100vh;
  width: 100%;
}

.content-hr {
  border-top: 1px solid grey;
}

.content-half {
  flex: 0 0 50%;
}

// ---- Landing splash ----
#landing-splash {
  justify-content: center;
}

.intro-content {
  align-content: center;

  .info-box {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  hr {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  h1 {
    font-size: 4em;
    text-shadow: -1px 1px 2px grey;
    padding-bottom: 4px;
  }

  h3 {
    font-size: 2.3em;
    padding-bottom: 12px;
  }

  p {
    padding-top: 12px;
    font-size: $fs-main;
  }

  span {
    color: $lm-text-acc;
  }
}

.intro-picture {
  align-content: center;
  justify-content: center;

  img {
    box-shadow: -5px 7px 6px grey;
    display: block;
    scale: 80%;
    object-fit: none;
    object-position: 45% 32%;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    width: 800px;
    height: 700px;
  }
}

// ---- About Section ----

#about {
  flex-direction: row;
  justify-content: center;

  .container-vert {
    margin-left: auto;
    margin-right: auto;
    flex: 0 0 50%;
    margin-top: 4rem;

    h2 {
      font-size: $fs-header;
      border-bottom: 1px solid $lm-text-pri;
    }
  }

  #about-text {
    flex-direction: column;
  }
}

// ---- Work experience section ----

